body {
    background-color: azure;
  }  
  .top {background-color: #d6e6f2;}

.heading {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    color: darkcyan;
}
.input {
    display: flex;
    color: darkcyan;
    
}

#search {
    flex:1;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    padding: 10px;
    color: darkcyan;
}


#name {
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    color: darkcyan;
}
#b {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: darkcyan;
}
#b:hover {
    color: white;
}